body {
    background: #FFB627;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E2711D;
    padding: 0 25px;
}

.menu {
    display: flex;
    

}

.menu-li{
    color: #FFF;
    text-decoration: none;
    padding: 40px 25px;
    font-size: 18px;
}

.menu-li:hover {
    background-color:#E28;
    
}
    
    
    



