body {
    background: #FFB627;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E2711D;
    padding: 0 25px;
}

.menu {
    display: flex;
    text-align: center;
}

.menu-li{
    color: #FFF;
    text-decoration: none;
    padding: 40px 25px;
    font-size: 24px;
}

.menu-li:hover {
    background-color: orangered;
    padding: 10px;
}

.cardapio {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    padding-top: 80px;
}

.pratos {
    padding: 5px;
    width: 360px;
    height: 220px;
    border-radius: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    background-color: blanchedalmond;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

button {
    background-color: #5C4444;
    padding: 15px;
    border-radius: 10px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.sobre {
    display: flex;
    flex-direction: row;
    padding: 45px 10px;
}

.sobre-titulo {
    color: red;
    font-size: 50px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    padding: 45px 0;
}

.sobre-texto {
    color: #FFF;
    font-size: 22px;
    text-align: justify;
    padding: 30px 15px;
    font-family: sans-serif;
}
.sobre-imagem {
   
    width: 450px;
    border-radius: 10px;
    
    
    
}